
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/07/2016, 01:33:16 PM
    Author     : jdiaz
*/
form.subastas-form {
  width: 99%; }
  form.subastas-form .input-group.timepicker input {
    height: 34px; }
  form.subastas-form .input-datetimes {
    padding: 0; }
  form.subastas-form .input-datetimes input.timepicker {
    width: 35%;
    float: right; }
  form.subastas-form .input-datetimes div.datepicker {
    width: 60%;
    float: left; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/07/2016, 04:50:49 PM
    Author     : jdiaz
*/
.remeber-me {
  text-align: left !important;
  padding: 0 !important;
  margin-left: 9px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */
/* Fondo verde claro */

/* 
    Created on : 19-ago-2016, 10:07:55
    Author     : omarhernandez
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */
/* Fondo verde claro */
.generic-content {
  color: #000;
  background-color: #fff;
  padding: 20px 30px;
  margin-top: 50px;
  text-align: justify;
  min-height: 300px;
  border-radius: 10px; }
  .generic-content .content-title {
    color: #d5a00f;
    text-transform: uppercase; }
  .generic-content .content-body {
    color: #747474; }
  .generic-content .panel-left {
    padding-top: 20px; }
  @media (min-width: 992px) {
    .generic-content .panel-left {
      padding-top: 0; } }
  @media (max-width: 768px) {
    .generic-content .content-title {
      font-size: 22px; }
    .generic-content .content-body h3 {
      font-size: 18px;
      line-height: 24px; } }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */
/* Fondo verde claro */
.detalle-pago-subasta {
  color: #747474;
  background-color: #fff;
  padding: 20px 30px;
  margin-top: 50px;
  border-radius: 10px; }
  .detalle-pago-subasta .subasta-nombre {
    color: #d5a00f;
    margin-top: 0;
    text-transform: uppercase; }
  .detalle-pago-subasta .subasta-cover {
    color: #d5a00f;
    font-size: 30px; }
  .detalle-pago-subasta .subasta-participantes {
    font-size: 20px; }
  .detalle-pago-subasta .banner-data {
    margin: 15px auto; }
  .detalle-pago-subasta .subasta-datos {
    margin-top: 10px; }
  .detalle-pago-subasta .subasta-datos p {
    font-size: 15px;
    color: #747474; }
  .detalle-pago-subasta .subasta-limite span {
    font-weight: bold; }
  .detalle-pago-subasta .subasta-registrados span {
    font-weight: bold; }
  .detalle-pago-subasta .subasta-boton-pago {
    width: 70%;
    margin: 0 auto; }
  .detalle-pago-subasta .leyenda-spam {
    font-size: 12px;
    text-align: center;
    margin-top: 10px; }
  .detalle-pago-subasta .caja-contador {
    width: 100%;
    margin: auto; }
  .detalle-pago-subasta .participacion-p,
  .detalle-pago-subasta .ganado-p {
    height: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-top: 0px;
    padding-bottom: 0px; }
  .detalle-pago-subasta .chk-head {
    padding: 10px;
    background-color: #8a8a8a;
    color: #fff;
    text-transform: uppercase;
    margin: 0px auto 20px auto; }
  .detalle-pago-subasta .nopadding {
    padding: 0 !important; }
  .detalle-pago-subasta .thumb-cover {
    width: 100%; }
  .detalle-pago-subasta i.fa.fa-ticket.cover-t, .detalle-pago-subasta i.fa.fa-trophy.cover-t {
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 0px;
    right: 0;
    background-color: rgba(0, 124, 133, 0.85);
    padding: 5px;
    text-align: right; }
  .detalle-pago-subasta .borde-thumb {
    border: 1px solid #f4f4f4; }
  .detalle-pago-subasta .subasta-tiempo2 {
    font-weight: 600;
    font-size: 15px;
    color: #18b0bb; }
  .detalle-pago-subasta .chk-total {
    text-align: right;
    padding: 0 20px;
    font-size: 16px; }
  .detalle-pago-subasta .chk-total span:first-child {
    text-align: right;
    margin-right: 10px; }
  .detalle-pago-subasta .chk-total span:last-child {
    text-align: left;
    width: 110px;
    display: inline-block; }
  .detalle-pago-subasta .form-factura form, .detalle-pago-subasta .tdec-cont form {
    width: 100% !important;
    margin: 0px !important; }
  .detalle-pago-subasta .form-factura input.form-control {
    font-size: 14px;
    font-size: 14px;
    border: 1px solid #85d0d6;
    border-radius: 0px; }
  .detalle-pago-subasta .form-factura form label {
    font-size: 14px; }
  .detalle-pago-subasta .margen-top {
    margin-top: 20px; }
  .detalle-pago-subasta .paypal-cont, .detalle-pago-subasta .tdec-cont {
    border: 1px solid #85d0d6;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px; }
  .detalle-pago-subasta .paypal-cont p {
    padding: 10px; }
  .detalle-pago-subasta .paypal-cont img {
    margin: auto;
    width: 150px; }
  .detalle-pago-subasta .tdec-form .form-group {
    text-align: left;
    width: 49%;
    display: inline-block;
    margin-bottom: 5px; }
  .detalle-pago-subasta .tdec-form input.form-control {
    font-size: 12px;
    font-size: 12px;
    border: 1px solid #85d0d6;
    border-radius: 0px; }
  .detalle-pago-subasta .form-group.full {
    width: 100%;
    display: block; }
  .detalle-pago-subasta .tdec-form .form-group.btn {
    text-align: center; }
  .detalle-pago-subasta .tdec-form button.btn {
    padding: 5px 30px; }
  .detalle-pago-subasta .tdec-cont form label {
    font-size: 12px; }
  .detalle-pago-subasta .felicidades {
    text-align: center;
    font-size: 27px;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    text-transform: uppercase;
    color: #ffffff;
    background: #007c85;
    border-radius: 10px; }
  .detalle-pago-subasta .message-error {
    color: #fb5f60; }

/* 
    Created on : 19-ago-2016, 12:00:20
    Author     : omarhernandez
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */
/* Fondo verde claro */
.galeria-detalle {
  max-height: none; }

.section-room .subasta-tiempo {
  font-size: 18px; }

.section-room .banner-info:first-child, .section-room .banner-info:last-child {
  height: auto; }

.section-room .ofertas-restantes {
  color: #fff;
  margin-top: 10px;
  font-size: 20px;
  text-transform: none; }

.section-room .contenedor-indicadores {
  background-color: #00bcb6;
  color: #fff;
  padding-bottom: 30px; }

.section-room .contenedor-indicadores h3 {
  text-align: center;
  margin-bottom: 20px; }

.section-room .indicador-contenedor {
  text-align: center; }

.section-room .indicador-subasta-externo {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border: solid 5px;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease; }

.section-room .indicador-subasta {
  color: #747474;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  margin: 0 auto 10px;
  font-size: 20px;
  line-height: 60px;
  border-radius: 50%; }

.section-room .indicador-timer-externo {
  border: solid 3px #fff;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px; }

.section-room .indicador-timer {
  font-size: 20px;
  text-align: center;
  background-color: #fff;
  color: #d5a00f;
  padding: 2px;
  border-radius: 5px; }

.section-room .texto-gris {
  color: #747474; }

.section-room .total-subastado p {
  font-size: 25px;
  margin: 0; }

.section-room .ngrs-range-slider .ngrs-handle {
  top: -15px;
  height: 50px; }

.section-room .ngrs-range-slider .ngrs-join {
  background-image: none !important;
  background-color: #00bcb6 !important; }

.section-room .ngrs-range-slider .ngrs-handle-max i {
  background-image: none; }

.section-room .tp-rightarrow.default,
.section-room .tp-leftarrow.default {
  display: none; }

/*# sourceMappingURL=app.css.map */
