@media screen and (max-width:320px) { 
	.cajaimagen {
   		width: 280px;
   		left: 0;
   		right: 0;
   		margin: 0 auto 0 auto;
   	}

   	.cajadetalle {
   		margin: 40px 0 0 0;
   	}

   	.precioazul {
   		text-align: center;
   	}

   	.precioamarillo {
   		display: block;
   		text-align: center;
   	}

   	.precioamarillo .globo {
   		display: none;
   	}

   	.colores {
   		text-align: center;
   	}

   	.btncarrito {
   		display: block;
   		width: 140px;
		left: 0;
		right: 0;
		margin: 0 auto 25px auto;
	}

	.btnredes {
		text-align: center;
	}

	.btnredes a {
	    float: inherit;
	    display: inline-block;
	    margin: 7.5px 0 0 4px;
	}

   .cajacupon {
      float: inherit !important;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 0 30px 0;
   }

   .cajacupon input.visible-xs {
      display: inline-block !important;
   }

   .cuenta {
      margin: 0 15px 0 15px;
   }

   .botonera.margentop50 {
      margin: 30px 0 20px 0 !important;
   }

   #formenvio label.pull-right {
      float: inherit !important;
   }

   #formenvio label.espacio {
      margin: 20px 0 0 0;
   }

   .widthlimit {
      width: 100%;
   }

   #formpago #year {
      margin-top: 8px;
   }

   #formcontacto label {
      text-align: left;
   }

   #formcontacto .pull-right {
      float: inherit !important;
   }
}

@media screen and (min-width:321px) and (max-width:480px) { 
   	.cajaimagen {
   		width: 420px;
   		left: 0;
   		right: 0;
   		margin: 0 auto 0 auto;
   	}

   	.cajadetalle {
   		margin: 40px 0 0 0;
   	}

   	.precioazul {
   		text-align: center;
   	}

   	.precioamarillo {
   		display: block;
   		text-align: center;
   	}

   	.precioamarillo .globo {
   		display: none;
   	}

   	.colores {
   		text-align: center;
   	}

   	.btncarrito {
   		display: block;
   		width: 140px;
		left: 0;
		right: 0;
		margin: 0 auto 25px auto;
	}

	.btnredes {
		text-align: center;
	}

	.btnredes a {
	    float: inherit;
	    display: inline-block;
	}

   .cajacupon {
      float: inherit !important;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 0 30px 0;
   }

   .cajacupon input.visible-xs {
      display: inline-block !important;
   }

   .cuenta {
      margin: 0 15px 0 15px;
   }

   .botonera.margentop50 {
      margin: 30px 0 20px 0 !important;
   }

   #formenvio label.pull-right {
      float: inherit !important;
   }

   #formenvio label.espacio {
      margin: 20px 0 0 0;
   }

   .widthlimit {
      width: 100%;
   }

   #formpago #year {
      margin-top: 8px;
   }

   #formcontacto label {
      text-align: left;
   }

   #formcontacto .pull-right {
      float: inherit !important;
   }
}

@media screen and (min-width:481px) and (max-width:640px) {
	.cajaimagen {
   		left: 0;
   		right: 0;
   		margin: 0 auto 0 auto;
   	}

   	.cajadetalle {
   		margin: 40px 0 0 0;
   	}

   	.precioazul {
   		text-align: center;
   	}

   	.precioamarillo {
   		display: block;
   		text-align: center;
   	}

   	.precioamarillo .globo {
   		display: none;
   	}
   	
   	.colores {
   		text-align: center;
   	}

   	.btncarrito {
   		display: block;
   		width: 140px;
		left: 0;
		right: 0;
		margin: 0 auto 25px auto;
	}

	.btnredes {
		text-align: center;
	}

	.btnredes a {
	    float: inherit;
	    display: inline-block;
	}

   .cajacupon {
      float: inherit !important;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 0 30px 0;
   }

   .cajacupon input.visible-xs {
      display: inline-block !important;
   }

   .cuenta {
      margin: 0 15px 0 15px;
   }

   .botonera.margentop50 {
      margin: 30px 0 20px 0 !important;
   }

   #formenvio label.pull-right {
      float: inherit !important;
   }

   #formenvio label.espacio {
      margin: 20px 0 0 0;
   }

   .widthlimit {
      width: 100%;
   }

   #formpago #year {
      margin-top: 8px;
   }

   #formcontacto label {
      text-align: left;
   }

   #formcontacto .pull-right {
      float: inherit !important;
   }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
	.btncarrito {
		background-size: 40px;
	}

	.btncarrito div {
		padding: 0 0 0 50px;
	}

	.btnredes a {
		margin: 7.5px 0 0 4px;
	}

   .cajacupon {
       margin: 0 35px 0 0;
   }

   .botonera.margentop50 {
      margin: 30px 0 20px 0 !important;
   }

   #formpago #year {
      margin-top: 8px;
   }
}

@media screen and (min-width: 769px) and (max-width: 960px) {
   #formpago #year {
      margin-top: 8px;
   }
}

@media screen and (min-width:961px) and (max-width:1024px) {
	
}

@media screen and (min-width:1025px) {

}

.division>div {
	border: solid 1px lightblue;
}