.env
/js/bower_components/
/css/web2.css
/js/laroute.js
/nbproject/private/
/css/web2.css.map
/css/app.css
/css/app.css.map
/js/estrasol/app.js
/js/estrasol/app.js.map
fw/node_modules
fw/vendor
fw/storage/logs/laravel.log
upload/*
!upload/.gitkeep
/js/estrasol/web-angular.js
/js/estrasol/web-angular.js.map
fw/composer.lock
/resources/
/app/
/public/