.env
/public/js/bower_components/
/public/css/web2.css
/public/js/laroute.js
/nbproject/private/
/public/css/web2.css.map
/public/css/app.css
/public/css/app.css.map
/public/js/estrasol/app.js
/public/js/estrasol/app.js.map
node_modules
vendor
storage/logs/laravel.log
upload/*
!upload/.gitkeep
public/js/estrasol/web-angular.js
public/js/estrasol/web-angular.js.map
composer.lock
