
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/07/2016, 01:33:16 PM
    Author     : jdiaz
*/
form.subastas-form {
  width: 99%; }
  form.subastas-form .input-group.timepicker input {
    height: 34px; }
  form.subastas-form .input-datetimes {
    padding: 0; }
  form.subastas-form .input-datetimes input.timepicker {
    width: 35%;
    float: right; }
  form.subastas-form .input-datetimes div.datepicker {
    width: 60%;
    float: left; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/07/2016, 04:50:49 PM
    Author     : jdiaz
*/
.remeber-me {
  text-align: left !important;
  padding: 0 !important;
  margin-left: 9px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */

/* 
    Created on : 19-ago-2016, 10:07:55
    Author     : omarhernandez
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */
.generic-content {
  color: #000;
  background-color: #fff;
  padding: 20px 30px;
  margin-top: 50px;
  min-height: 300px;
  border-radius: 10px; }
  .generic-content .content-title {
    color: #d5a00f;
    text-transform: uppercase; }
  .generic-content .content-text {
    color: #747474; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/
/* Doradito */
/* Doradito */
/* Gris generico */
/* Blanco */
.detalle-pago-subasta {
  color: #747474;
  background-color: #fff;
  padding: 20px 30px;
  margin-top: 50px;
  border-radius: 10px; }
  .detalle-pago-subasta .subasta-nombre {
    color: #d5a00f;
    margin-top: 0;
    text-transform: uppercase; }
  .detalle-pago-subasta .subasta-cover {
    color: #d5a00f;
    font-size: 30px; }
  .detalle-pago-subasta .subasta-participantes {
    font-size: 20px; }
  .detalle-pago-subasta .banner-data {
    margin: 15px auto; }
  .detalle-pago-subasta .subasta-datos {
    margin-top: 10px; }
  .detalle-pago-subasta .subasta-datos p {
    font-size: 15px;
    color: #747474; }
  .detalle-pago-subasta .subasta-limite span {
    font-weight: bold; }
  .detalle-pago-subasta .subasta-registrados span {
    font-weight: bold; }
  .detalle-pago-subasta .subasta-boton-pago {
    width: 70%;
    margin: 0 auto; }
  .detalle-pago-subasta .caja-contador {
    width: 100%;
    margin: auto; }
  .detalle-pago-subasta .participacion-p,
  .detalle-pago-subasta .ganado-p {
    height: auto;
    margin-top: 10px;
    margin-bottom: 25px; }

/* 
    Created on : 19-ago-2016, 12:00:20
    Author     : omarhernandez
*/

/*# sourceMappingURL=app.css.map */
