
@import "../variables";

.slider_content_text{
	text-align: center;
	width: 90%;
	margin-left:5%;
	font-size: 11px;
	bottom: 0px;
	position: absolute;
	margin-bottom: 60px;
}

.slider_content_text  *{
    margin-bottom: 15px;
}
.slider_content_text >h2{
   	font-size:2.5em;
   	line-height: 1.3;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	text-shadow: black 0.1em 0.1em 0.2em
}
.slider_content_text >h3{
   	font-size: 2em;
    background: rgba(255,255,255,.8);
    display: initial;
    padding: 10px;
   	
}

.slider_principal >.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: -33px;
    position: relative;
    z-index: 5;
}

.col_motos {
	display: block;
	float:left;
	margin: 1% 0 1% 0;
}
.category_motos{
	background-color: $gray_dark;
	padding-top: 15px;
	padding-bottom: 15px;
}
.category_motos  h3{
	margin-top: 0px;
}
	
.element_category{
	position: relative;
	background-color: white;
	width: 100%;
} 
.element_category_left{
	position: relative;
	margin-right: 1%;
	background-color: white;
	margin-left: 0px;
	width: 49%;
}
.element_category_right{
	position: relative;
	margin-left: 1%;
	background-color: white;
	margin-right:0px;
	width: 49%;
}
.label_img{
	position: relative;
	top: 2px;
	width: 45%;
	z-index: 5;
	margin-left: 2px;
	margin-top: 2px;
}
.label_text{
	position: absolute;
	top: 1.5%;
	z-index: 10;
	left: 3%;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
} 
.label_img_multi{
	position: relative;
	top: 0px;
	width: 70%;
	z-index: 5;
	margin-left: 2px;
	max-height: 50px;
}
.label_text_multi{
	position: absolute;
	top: 1%;
	z-index: 10;
	left: 5%;
	color: white;
	font-size: .9em;
	font-weight: bold;
} 

.label_content{
	vertical-align: middle;
}
.category_img{
	min-height: 130px;
}

.slider_motos{
	position: relative;
	
}
.slider_motos .content_img{
	background-color: $orange-ligth-1;
	margin-bottom: 0px;
	padding-bottom: 30px;
}
.slider_motos .content_img .slide_img{
	width: 90%;
	margin-left: 5%;
}
.slider_motos .content_text{
	background-color: $orange-ligth-2;
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 20px;
	display: inline-block;
}
.slider_motos .content_text *{

	margin-top: 20px;
	margin-bottom: 20px;
}
#owlSlideMotos .owl-dots .owl-dot.active span{
	background:white;
}
#owlSlideMotos .owl-dots{
	    position: absolute;
	    top: 2%;
	    left: 5%;
}

.star:before{
	content:  url(../img/svg/star.svg);
	margin-right: 10px;
}
.news_home{
	margin-top: -10px;
	padding-top: 10px;
	background-color: $gray_dark;
			
}
.news_content{
	position: relative;
	padding: 0px;
	margin: 0px;
}
.news_content .content_text{
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 0;
	height: 100%;
}
.news_content .content_text .label_content{
	position: relative;
	top:20px;
	left: 20px;
	width: 80%;
}
.news_content .content_text .label_content .label_img{
	top:0px;
}
.news_content .content_text .label_content .label_text{
	font-size: 1em;
	top: 2px;

}
.news_content .content_text .news_text{
	position: relative;
    top: 30%;
    width: 90%;
    left: 10%;

}
.news_content .news_img img{
		object-fit: cover;
		max-height: 300px;
		min-height: 230px;
} 



 
@media screen and (min-width: 600px){
	
	.slider_content_text{
		font-size: 16px;
		margin-bottom: 25%;
	}
	.label_text{
		font-size: 1.8em;
	} 
	.label_text_multi{
		font-size: 1.5em;
	} 
	.category_img{
		min-height: 190px;
	}
	.news_div{
		display: inline-table;
	 	width: 100%;
	 	display: -moz-groupbox;
	}
	.news_content{
		width: 50%;
		display: inline-block;


	}
	.news_content .news_img img{
		object-fit: cover;
		min-height: 250px;
	} 
	
		
}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
	.slider_content_text{
		font-size: 16px;
		margin-bottom: 30%;
	}
	.label_img{
		
		width: 45%;
	}
	.label_img_multi{
		width: 60%;
		top: 5px;
	}
	.label_text{
		font-size: 2.2em;
	} 
	.label_text_multi{
		font-size: 2em;
	} 
	.category_img{
		min-height: 310px;
	}
	.news_content .content_text .news_text{
	    top: 40%;
	}
	.news_content .news_img img{
		min-height: 260px;
		max-height: 265px;
	} 
}

@media screen and (min-width: 992px){
	
	.slider_principal{
		margin-top: -1px;
	}
	.slider_img{
		max-height: 750px;
	}
	.slider_img img{
		object-fit: cover;
		max-height: 750px;
	}
	.slider_content_text{
		font-size: 18px;
		margin-bottom: 10%;
	}
	.slider_content_text  *{
	    margin-bottom: 70px;
	}
	.label_img{
		
		width: 35%;
	}
	.label_img_multi{
		
		width: 50%;
	}
	.news_content,.news_content .news_img{
		max-height: 300px;
	}
	.news_div{	
		
	}
}

@media screen and (min-width: 1240px){
	.slider_principal{
		margin-top: -10px;
	}
	.element_category{
		width: 65%;
		margin-right: 1.5%;
		background-color: white;
		margin-top: 0px;
		height: 100%;

		min-height: 690px;
		max-height: 690px;

	} 
	.element_category_left{
		width: 16%;
		margin-right: .75%;
		margin-bottom: 15px;
		margin-top: 0px;

		min-height: 220px;
		max-height: 220px;
	}
	.element_category_right{
		width: 16%;
		margin-left: .75%;
		margin-bottom: 15px;
		margin-top: 0px;

		min-height: 220px;
		max-height: 220px;
	}
	.category_img_big{
		    width: 80%;
    		margin: 0 auto;
	}
	.category_img img{
		height: 175px;
	}
	.category_img{
		min-height: 200px;
		max-height: 200px
	}
	.label_text{
		
		top: 2px;
	}
	.label_img_multi{
		width: 65%;
		top: 2px;
	}
	.label_text_multi{
		font-size: 1.2em;
	} 
	#owlSlideMotos .content_img{
		width: 50%;
		display: inline-block;
	}
	#owlSlideMotos .content_text{
		width: 50%;
		display: inline-block;
	}
	#owlSlideMotos .item{
		
		display: inline-flex;
	}
	.slider_motos .content_text *{

		margin-top: 5%;
		margin-bottom: 5%;
	}
	.news_home .news_content{
		width: 25%;

	}
	.news_content .content_text .news_text{
	    top: 30%;
	}
	.news_content .news_img img{
		object-fit: cover;
		max-height: 250px;
	}
	.news_div{
		display: inline-flex;
	}
	

}



 