/* 
    Created on : 19-ago-2016, 10:07:55
    Author     : omarhernandez
*/
@import "../variables.scss";

.generic-content{
    color: #000;
    background-color: $bg-generico;
    padding: 20px 30px;
    margin-top: 50px;
    text-align: justify;
    min-height: 300px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .content-title{
        color: $color-titulo;
        text-transform: uppercase;
    }
    .content-body{
        color: $color-textos;
    }
    .panel-left{
        padding-top: 20px;
    }
    @media(min-width:992px){
        .panel-left{
            padding-top: 0;
        }
    }
    @media(max-width: 768px){
        .content-title{
            font-size: 22px;
        }
        .content-body h3{
            font-size: 18px;
            line-height: 24px;
        }
    }
}