@import "../variables.scss";

.detalle-pago-subasta {
    color: $color-textos;
    background-color: $bg-generico;
    padding: 20px 30px;
    margin-top: 50px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .subasta-nombre{
        color: $color-titulo;
        margin-top: 0;
        text-transform: uppercase;
    }
    .subasta-cover{
        color: $color-precios;
        font-size: 30px;
    }
    .subasta-participantes{
        font-size: 20px;
    }
    .banner-data{
        margin: 15px auto;
    }
    .subasta-datos{
        margin-top: 10px;
    }
    .subasta-datos p{
        font-size: 15px;
        color: $color-textos;
    }
    .subasta-limite span{
        font-weight: bold;
    }
    .subasta-registrados span{
        font-weight: bold;
    }
    .subasta-boton-pago{
        width: 70%;
        margin: 0 auto;
    }
    .caja-contador {
        width: 100%;
        margin:auto;
    }
    .participacion-p,
    .ganado-p{
        height:  auto;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}