@import "../variables.scss";

.detalle-pago-subasta {
    color: $color-textos;
    background-color: $bg-generico;
    padding: 20px 30px;
    margin-top: 50px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    .subasta-nombre{
        color: $color-titulo;
        margin-top: 0;
        text-transform: uppercase;
    }
    .subasta-cover{
        color: $color-precios;
        font-size: 30px;
    }
    .subasta-participantes{
        font-size: 20px;
    }
    .banner-data{
        margin: 15px auto;
    }
    .subasta-datos{
        margin-top: 10px;
    }
    .subasta-datos p{
        font-size: 15px;
        color: $color-textos;
    }
    .subasta-limite span{
        font-weight: bold;
    }
    .subasta-registrados span{
        font-weight: bold;
    }
    .subasta-boton-pago{
        width: 70%;
        margin: 0 auto;
    }
    .caja-contador {
        width: 100%;
        margin:auto;
    }
    .participacion-p,
    .ganado-p{
        height:  auto;
        margin-top: 10px;
        margin-bottom: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .chk-head{
        padding: 10px;
        background-color: #8a8a8a;
        color: #fff;
        text-transform: uppercase;
        margin: 0px auto 20px auto;
    }
    .nopadding{
        padding: 0 !important;
    }
    .thumb-cover{
        width: 100%;
    }
    i.fa.fa-ticket.cover-t, i.fa.fa-trophy.cover-t {
        color: #fff;
        font-size: 25px;
        position: absolute;
        bottom: 0px;
        right: 0;
        background-color: rgba(0, 124, 133, 0.85);
        padding: 5px;
        text-align: right;
    }
    .borde-thumb{ 
        border: 1px solid #f4f4f4;
    }
    .subasta-tiempo2 {
        font-weight: 600;
        font-size: 15px;
        color: #18b0bb;
    }
    .chk-total{
        text-align: right;
        padding: 0 20px;
        font-size: 16px; 
    }
    .chk-total span:first-child{
        text-align: right;
        margin-right: 10px;
    }
    .chk-total span:last-child{
        text-align: left;
        width: 110px;
        display: inline-block;
    }
    .form-factura form, .tdec-cont form{
        width: 100% !important;
        margin: 0px !important;
    }
    .form-factura input.form-control {
        font-size: 14px;
        font-size: 14px;
        border: 1px solid #85d0d6;
        border-radius: 0px;
    }
    .form-factura form label {
        font-size: 14px;
    }
    .margen-top{
        margin-top: 20px;
    }
    .paypal-cont, .tdec-cont{
        border: 1px solid #85d0d6;
        padding: 10px 20px;
        text-align: center;
        font-size: 12px;
    }
    .paypal-cont p{
       padding: 10px; 
    }
    .paypal-cont img{
        margin: auto;
        width: 150px;
    }
    .tdec-form .form-group{
        text-align: left;
        width: 49%;
        display: inline-block;
        margin-bottom: 5px;
    }
     .tdec-form input.form-control {
        font-size: 12px;
        font-size: 12px;
        border: 1px solid #85d0d6;
        border-radius: 0px;
    }
    .form-group.full{
        width: 100%;
        display: block;
    }
    .tdec-form .form-group.btn{
        text-align: center;
    }
    .tdec-form button.btn{
        padding: 5px 30px;
    }
    .tdec-cont form label{
        font-size: 12px;
    }
    .felicidades{
        text-align: center;
        font-size: 27px;
        margin: 20px auto;
        padding: 20px;
        width: 80%;
        text-transform: uppercase;
        color: #ffffff;
        background: #007c85;
        border-radius: 10px;
    }
    .message-error{
        color: #fb5f60;
    }
    
}