/* 
    Created on : 19-ago-2016, 12:00:20
    Author     : omarhernandez
*/
@import "../variables.scss";
.galeria-detalle{
    max-height: none;
}
.section-room{
    .subasta-tiempo{
        font-size:18px;
    }
    .banner-info:first-child, .banner-info:last-child{
        height: auto;
    }
    .ofertas-restantes{
        color: #fff;
        margin-top: 10px;
        font-size : 20px;
        text-transform: none;
    }
    .contenedor-indicadores{
        background-color: $bg-verde-claro;
        color: #fff;
        padding-bottom: 30px;
    }
    .contenedor-indicadores h3{
        text-align: center;
        margin-bottom: 20px;
    }
    .indicador-contenedor{
        text-align: center;
    }
    .indicador-subasta-externo{
        margin: 0 auto;
        width: 75px;
        height:75px; 
        border: solid 5px;
        padding: 5px;
        margin-bottom: 5px;
        
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
    }
    .indicador-subasta{
        color: $color-textos;
        display: block;
        width: 55px;
        height: 55px;
        background-color: #fff;
        margin: 0 auto 10px;
        
        font-size: 20px;
        line-height: 55px;
        
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .indicador-timer-externo{
        border: solid 3px #fff;
        margin-top: 20px;
        padding: 5px;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    .indicador-timer{
        font-size: 20px;
        text-align: center;
        background-color: #fff;
        color: #d5a00f;
        padding: 2px;
        
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .texto-gris{
        color: $color-textos;
    }
    .total-subastado p{
        font-size: 25px; 
        margin:0;
    }
    .ngrs-range-slider .ngrs-handle{
        top: -15px;
        height:50px;
    }
    .ngrs-range-slider .ngrs-join{
        background-image: none !important;
        background-color: #00bcb6 !important;
    }
    .ngrs-range-slider .ngrs-handle-max i{
        background-image: none;
    }
    .tp-rightarrow.default,
    .tp-leftarrow.default{
        display: none;
    }
    @media(max-width: 992px){
        .precio-rango{
            font-size: 24px;
            margin: 0 5px;
        }
        .usr-postor{
            font-size: 24px;
        }
        .precio-subasta{
            font-size: 24px;
        }
        .rebase-izq,
        .rebase-der{
            height: 139px;
            bottom:-23px;
            background-position: center -10px;
        }
    }
    @media(max-width: 768px){
        .ngrs-range-slider{
            width: 250px !important;
        }
        .subasta-tiempo{
            font-size:16px;
        }
        .indicador-contenedor{
            margin-top: 15px;
        }
        .panel-oferta{
            padding: 15px 0;
        }
        .hey{
            font-size: 38px;
        }
        .msje-postor{
            font-size: 16px;
        }
        @media(max-width: 405px){
            .rebase-izq,
            .rebase-der{
                height: 180px;
                bottom:-23px;
            }
        }
    }
}
