/* 
    Created on : 19-ago-2016, 12:00:20
    Author     : omarhernandez
*/
@import "../variables.scss";
.galeria-detalle{
    max-height: none;
}
.section-room{
    .subasta-tiempo{
        font-size:22px;
    }
    .banner-info:first-child, .banner-info:last-child{
        height: auto;
    }
    .ofertas-restantes{
        color: #fff;
        margin-top: 10px;
        font-size : 20px;
        text-transform: none;
    }
}
