@import "variables";
@import "../css/responsive-grid-system";
body{
	font-size: 16px;
	background-color: #E95B5B;
	position: relative;

}

.icons_social{

	margin-left: 2%;
}

.icon_social{
	width: 15.33%;
	display: inline-block;
}
 


@media screen and (min-width: 600px){
	body{
		background: #FFFC1A;
	}

}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
	
}

@media screen and (min-width: 992px){
	body{
		background: #21D5E0;
		font-size: 20px;
	}
	


}

@media screen and (min-width: 1240px){
	body{
		background: #9241F6;
	}
	.container_center{
		width: 98%;
		margin-left: 1%;
	}

	.footer_box{
		width: 18%;
		margin: 1% auto;
		display: inline-block;
		vertical-align: top;
	}

	.belt_footer{
		background-color: $gray_dark;
		height: 100px;
	}

	.icons_social{
		margin-left: 2%;
	}

	.icon_social{
		width: 15.33%;
		display: inline-block;
	}

	.copy_right{
		text-align: right;
	}

	footer ul li{
		color:green;
	}

}


