@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../js/bower_components/font-awesome/scss/font-awesome";

   
.ktm_container{
	width: 90%;
	margin-left: 5%;
}
figure img{ 
	width: 100%;
}
.ktm_btn_primay{
	background: $orange;
	color: white;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
 }
.ktm_btn_primay:hover{
	background: $orange_dark;
}

.header{
	background: $gray_dark;
}

.header_logo{
	width: 50%;
	margin-left: -1px;
}
.header_menu{
	position: absolute;
    top: 5px;
    right: 10px;
    color:white;
}
.header_menu:hover{
    color:$orange;
}
.header_nav{
	margin-top: -1px;
	background: $orange_dark;
	display: none;
}
.header ul{
	list-style: none;
	padding-left: 0px;
}
.header_ul li{


	padding: 5px 0px 5px 0px;
}
.header_ul a{
	color: $white_ligth;
	text-decoration: none;
	margin-left: 10px;
}
.header_ul a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.header_ul .header_sub_ul {
	background: $orange;
	padding-left: 15px;
}	
.separator_line{
	color: $orange;
	height: 10px;
	width: 100%;
}

body{
	font-size: 16px;
	background-color: #E95B5B;
	position: relative;

}

@media screen and (min-width: 480px){
	body{
		background: #E59B1B;
	}
}

@media screen and (min-width: 600px){
	body{
		background: #FFFC1A;
	}
}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
}

@media screen and (min-width: 950px){
	body{
		background: #21D5E0;
	}
}

@media screen and (min-width: 1240px){
	body{
		background: #9241F6;
	}
}
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../js/bower_components/font-awesome/scss/font-awesome";

   
.ktm_container{
	width: 90%;
	margin-left: 5%;
}
figure img{ 
	width: 100%;
}
.ktm_btn_primay{
	background: $orange;
	color: white;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
 }
.ktm_btn_primay:hover{
	background: $orange_dark;
}
.header{
	background: $gray_dark;
}
.header_logo{
	width: 50%;
	margin-left: -1px;
}

.header_menu{
	position: absolute;
    right: 2%;
    top:0.5%;
    color:white;
    width:   10%;
}


.header_menu:hover{
    color:white;
}
.header_nav{
	margin-top: -1px;
	background: $orange_dark;
	display: none;
}
.header ul{
	list-style: none;
	padding-left: 0px;
}
.header_ul li{

	padding: 5px 0px 5px 0px;
}
.header_ul a{
	color: $white_ligth;
	text-decoration: none;
	margin-left: 10px;
}
.header_ul a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.header_ul .header_sub_ul {
	background: $orange;
	padding-left: 15px;
	display: none;
}
.separator_line{
	color: $brand-primary;
	height: 10px;
	width: 100%;
}
.icon_caret{
	font-size: 1.5em;
	float: right;
	margin-right: 10px;
}
li.li_separator{
	border: 1px solid;
	padding-top: 0px;
	padding-bottom: 0px;
}
li.li_search{
	margin-left: 5%;
	width: 90%;
	padding-top:15px;
	padding-bottom: 15px;
	color: white;
}
li.li_search a{
	position: absolute;
    right: 7%;
    margin-top: -39px;
    font-size: 1.5em;
}
#menuSearch{
	width: 100%;
	background:  transparentize($white_ligth, .3);
	color: white;
	border: none;
	padding: 5px 10px 5px 10px;
}
#menuSearch:focus{
	outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px white;
}
.hide{
	display: none;
}
body{
	font-size: 16px;
	background-color: #E95B5B;
	position: relative;

}
::-webkit-input-placeholder {
   color: $white_ligth;
}

@media screen and (min-width: 480px){
	body{
		background: #E59B1B;
		
	}
}

@media screen and (min-width: 600px){
	body{
		background: #FFFC1A;
	}
}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
}

@media screen and (min-width: 950px){
	body{
		background: #21D5E0;
		font-size: 20px;
	}
	.header_logo{
		width: 30%;
		margin-left: -1px;
		margin-bottom: 1px;
	}

	#menuMovilButton{
		display: none;
	}
	.icon_caret{
		display: none;
	}
	.header_nav{
		display: block;
		background: none;
		position: absolute;
		top: 1%;
		right: 2%;	
	}
	.header_ul {
		
	}

	.header_ul li{
		display: inline-block;
	}
	.header_ul .header_sub_ul{
		position: absolute;
		background: $gray_dark;
		padding-left: 0px;
	}
	.header_sub_ul li{
		display: block;
		padding-right: 15px;
	}
	.header_sub_ul li:hover{
		background: $orange;
	}
	.div_search{
		display: none;
	}
	li.li_separator{
		display: none;
	}
	li.li_search{
		margin-left: 0%;
		width: auto;
		padding-top:10px;
		padding-bottom: 10px;
	}
	li.li_search a{
		position: relative;
	    right: 0px;
	    margin-top: -0px;
	    font-size: 1em;
	}
	.header_logo {
		max-height: 80px;
	}
	.header_logo img{
		width: auto;
	}
	.submenu_img{
		position: absolute;
		height: 294px;
		left: -465px;
    	top: 0px;
	}

	.submenu_img  img{
		height: 100%;
	}
	#subMenuBoutique{
		height: 294px;
	}

}

@media screen and (min-width: 1240px){
	body{
		background: #9241F6;
	}

}
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../js/bower_components/font-awesome/scss/font-awesome";
@import "../css/responsive-grid-system";
   
.ktm_container{
	width: 90%;
	margin-left: 5%;
}
figure img{ 
	width: 100%;
}
.ktm_btn_primay{
	background: $orange;
	color: white;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
 }
.ktm_btn_primay:hover{
	background: $orange_dark;
}

.header{
	background: $gray_dark;
}

.header_logo{
	width: 50%;
	margin-left: -1px;
}
.header_menu{
	position: absolute;
    top: 5px;
    right: 10px;
    color:white;
}
.header_menu:hover{
    color:$orange;
}
.header_nav{
	margin-top: -1px;
	background: $orange_dark;
	display: none;
}
.header ul{
	list-style: none;
	padding-left: 0px;
}
.header_ul li{


	padding: 5px 0px 5px 0px;
}
.header_ul a{
	color: $white_ligth;
	text-decoration: none;
	margin-left: 10px;
}
.header_ul a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.header_ul .header_sub_ul {
	background: $orange;
	padding-left: 15px;
}	
.separator_line{
	margin-top: 100px; /* Solo para efectos de prueba */
	background-color: $orange;
	height: 10px;
	width: 100%;
}

.icons_social{

	margin-left: 2%;
}

.icon_social{
	width: 15.33%;
	display: inline-block;
}

body{
	font-size: 16px;
	background-color: #FFCECE;
	position: relative;

}

@media screen and (min-width: 480px){
	body{
		background: #E59B1B;
	}
}

@media screen and (min-width: 600px){
	body{
		background: #FFFC1A;
	}
}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
}

@media screen and (min-width: 950px){
	body{
		background: #21D5E0;
	}

	.footer_box{
		width: 18%;
	}
}

@media screen and (min-width: 1240px){
	body{
		background: #F5EDFF;
	}
	.container_center{
		width: 98%;
		margin-left: 1%;
	}

	.footer_box{
		width: 18%;
		margin: 1% auto;
		display: inline-block;
		vertical-align: top;
	}

	.belt_footer{
		background-color: $gray_dark;
		height: 100px;
	}

	.icons_social{
		margin-left: 2%;
	}

	.icon_social{
		width: 15.33%;
		display: inline-block;
	}

	.copy_right{
		text-align: right;
	}

	footer ul li{
		color:green;
	}
}


