@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../js/bower_components/font-awesome/scss/font-awesome";

   
.ktm_container{
	width: 90%;
	margin-left: 5%;
}
figure img{ 
	width: 100%;
}
.ktm_btn_primay{
	background: $orange;
	color: white;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
 }
.ktm_btn_primay:hover{
	background: $orange_dark;
}

.header{
	background: $gray_dark;
}

.header_logo{
	width: 50%;
	margin-left: -1px;
}
.header_menu{
	position: absolute;
    top: 5px;
    right: 10px;
    color:white;
}
.header_menu:hover{
    color:$orange;
}
.header_nav{
	margin-top: -1px;
	background: $orange_dark;
	display: none;
}
.header ul{
	list-style: none;
	padding-left: 0px;
}
.header_ul li{

	padding: 5px 0px 5px 0px;
}
.header_ul a{
	color: $white_ligth;
	text-decoration: none;
	margin-left: 10px;
}
.header_ul a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.header_ul .header_sub_ul {
	background: $orange;
	padding-left: 15px;
.separator_line{
	color: $brand-primary;
	height: 10px;
	width: 100%;
}

body{
	font-size: 16px;
	background-color: #E95B5B;
	position: relative;

}

@media screen and (min-width: 480px){
	body{
		background: #E59B1B;
	}
}

@media screen and (min-width: 600px){
	body{
		background: #FFFC1A;
	}
}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
}

@media screen and (min-width: 950px){
	body{
		background: #21D5E0;
	}
}

@media screen and (min-width: 1240px){
	body{
		background: #9241F6;
	}
}
