
@import "variables";
   
/*------------------------------------AVISO DE PRIVACIDAD--------------------------------------------------*/
.sub_header{
	//background-color: pink;
	background-image: url("../img/motos/ktm_background_img.jpg");
	height: 150px;

	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: -1px;
}

.section_map_site{
	height: 30%;
	display: table;
    margin-left: 2%;
    width: 90%;

}

.text_map_site{
	margin: 0% 0% 0% 2%;
	vertical-align:bottom;
	display: table-cell;
	font-size: 1em;
}

.section_main_title{
	height: 70%;
	display: table;
    margin-left: 2%;
    width: 90%;

}

.text_main_title{
	margin: 0% 0% 0% 2%;
	vertical-align:top;
	display: table-cell;
	font-size: 2.4em;
}

.container_text{
	width: 95%;
	margin-left: 2%;
	position: relative;
	background-color: $gray_light;
	margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
}

/*-------------------------------------NOSOTROS-------------------------------------------------*/

.ktm_active{
	color: $orange;
}


.container_us{
	//background-color: pink;
	background-image: url("../img/motos/ktm-freeride.png");
	height: 789px;

	/* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.menu_us{
	width: 95%;
	margin-left: 2%;
}

.menu_us ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu_us li {
	float: left;
}

.menu_us li a{
	display: block;
	color: white;
    margin: 20px 20px 10px 0px;
    font-size: 22px;
}

.text_us{
	width: 95%;
	margin-left: 2%;
	position: relative;
	color: white;
	text-align: justify
}
   
@media screen and (min-width: 600px){
	.text_map_site{
		font-size: 1em;
	}
	.text_main_title{
		font-size: 3em;
	}

	.text_us{
		width: 53%;
	}
}

@media screen and (min-width: 767px){
	.text_map_site{
		font-size: 1.1em;
	}
	.text_main_title{
		font-size: 3em;
	}
	.text_us{
		width: 53%;
	}
}

@media screen and (min-width: 992px){
	.text_map_site{
		font-size: 1.2em;
	}
	.text_main_title{
		font-size: 4em;
	}
	.text_us{
		width: 53%;
	}
}

@media screen and (min-width: 1240px){
	.text_map_site{
		font-size: 1.4em;
	}
	.text_main_title{
		font-size: 5em;
	}
	.text_us{
		width: 53%;
	}
}

/*------------------------------------CONTACTO----------------------------------------*/

.contact_container{
	//background-color: $gray_ligth;
}


.section_visit{
	margin-right: 2%;
}

.section_visit ul {
	list-style-type: none;
}

.section_visit ul{
	//-webkit-padding-start: 2%;
	padding: 0;
	margin-left: 2%
}

.social_figure{
	width: 32.26%;
	display: inline-block;
}

.social_figure img {
	width: 32%;
	margin: 2% 0%;
}

.section_follow{
	//margin-left: 40px;
}

.subtitle_contact{
	font-size: 22px;
	margin: 10px 0px 10px 0px;
	padding: 0;
}

.dividing_line{
	background-color: $gray_middle;
    height: 1px;
    width: 98%;
    //margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px
}

.form_contact{
	margin: 2% 4% 0% 4%;
}

.form_contact input, textarea {
	border-radius: 0px;
}

.form_contact textarea {
	border-radius: 0px;
}

.clean_form{
	display: inline-block;
}

.btn_contact{
	display: inline-block;
	float: right;
}

.map_contact{
	margin-bottom: -6px; /*ESTE ES PARA EFECTOS DE PRUEBA*/
	margin-top: 10%;
}

.map_mge{
	margin: 0% 0% 2% 4%
}

.main_container{
	width: 90%;
    margin: 0 auto;	
}


    

@media screen and (min-width: 600px){
	.map_contact{
		margin-top: 8%;
	}
	.section_visit ul{
		-webkit-padding-start: 6%;
	}
	.section_follow{
		margin-left: 4%
	}

}

@media screen and (min-width: 767px){
	.section_visit{
		width: 45%;
	}
	.section_follow{
		width: 45%;
	}
	.social_figure img {
		width: 35%;
	}

	.map_contact{
		margin-top: 6%;
	}
}

@media screen and (min-width: 992px){
	.row_3{
		display: block;
		float:left;
		margin: 1% 1% 1% 0;
		width: 32.26%; 
	}

	.form_contact input{
		width: 98%;
	}

	.form_contact textarea{
		width: 98%;
	}

	.btn_contact{
		margin-right: 2%;
	}

	.map_contact{
		margin-top: 4%;
	}
}

@media screen and (min-width: 1240px){
	.social_figure img {
		width: 18%;
	}

	.dividing_line{
	    //width: 95%;
	    //margin-left: 2%;
	}

	.map_contact{
		margin-top: 2%;
	}
}
    



