@import url(https://fonts.googleapis.com/css?family=Oswald);
@import "variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";


.ktm-container{
	width: 90%;
	margin-left: 5%;
}
figure img{
	width: 100%;
}
.ktm-btn-primay{
	background: $ktm-orange;
	color: white;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
}

.ktm-btn-primay:hover{
	background: $ktm-orange-dark;
}

.header{
	background: $ktm-gray-dark;
}

.ktm-header-logo{
	width: 50%;
	margin-left: -1px;
}
.ktm-header-menu{
	position: absolute;
    top: 5px;
    right: 10px;
    color:white;
}
.ktm-header-menu:hover{
    color:$ktm-orange;
}
.ktm-header-nav{
	margin-top: -1px;
	background: $ktm-orange-dark;
	display: none;
}
.header ul{
	list-style: none;
	padding-left: 0px;
}
.ktm-header-ul li{

	padding: 5px 0px 5px 0px;
}
.ktm-header-ul a{
	color: $ktm-white-ligth;
	text-decoration: none;
	margin-left: 10px;
}
.ktm-header-ul a:hover{
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.ktm-header-ul .ktm-header-sub-ul {
	background: $ktm-orange;
	padding-left: 15px;
}

