@import "variables";
   
.header{
	background: $gray_dark;
	.navbar{
		margin-bottom: 0px;
		.navbar-header{
			.navbar-toggle{
				background: transparent;
				border: none;
				.icon-bar{
					background-color:white;
				}
			}
			.navbar-brand{
				padding:0;
				img{
					height: 50px;
				}
			}
		}
		.navbar-collapse{
			.navbar-nav{
				li:hover{
					background:$orange;
				}
				li.dropdown:hover{
					background:transparent
				}
				a{
					color:white;
				}
				.dropdown-menu{
					li:hover{
						background:$orange;
					}
					a{
						color:white;
					}
				}
			}
			.navbar-form{
				input{
					border-radius:0px;
					opacity: .6;
				}
			}
		}
	}



}


