@import "variables";
   
.header{
	background: $gray_dark;
}
.header_logo{
	width: 50%;
	margin-left: -1px;
}

.header_menu{
	position: absolute;
    right: 2%;
    top: 3px;
    color:white;
    width:   10%;
}

.header_menu:hover{
    color:white;
}
.header_nav{
	margin-top: -1px;
	background: $orange_dark;
	display: none;
}
.header ul{
	list-style: none;
	padding-left: 0px;
	margin-bottom: 0px
}
.header_ul li{

	padding: 5px 0px 5px 0px;

}
.header_ul a{
	color: $white_light;
	text-decoration: none;
	margin-left: 10px;
}
.header_ul a:hover{
	color: white;
	text-decoration: none;
	//font-weight: bold;
}

.header_ul .header_sub_ul {
	background: $orange;
	padding-left: 15px;
	display: none;
}
.separator_line{
	color: $brand-primary;
	height: 10px;
	width: 100%;
}
.icon_caret{
	font-size: 1.5em;
	float: right;
	margin-right: 10px;
}
li.li_separator{
	border: 1px solid;
	padding-top: 0px;
	padding-bottom: 0px;
}
li.li_search{
	margin-left: 5%;
	width: 90%;
	padding-top:15px;
	padding-bottom: 15px;
	color: white;
	position: relative;

}
li.li_search a{
	position: absolute;
    right: 7%;
    margin-top: -39px;
    font-size: 1.5em;

}
#menuSearch{
	width: 100%;
	background:  transparentize($white_light, .3);
	color: white;
	border: none;
	padding: 5px 10px 5px 10px;
}
#menuSearch:focus{
	outline: none !important;
    border-color: white;
    box-shadow: 0 0 10px white;
}

 
 
@media screen and (min-width: 600px){
	body{
		background: #FFFC1A;
	}
}

@media screen and (min-width: 767px){
	body{
		background: #9DEF5A;
	}
	

}

@media screen and (min-width: 992px){
	body{
		background: #21D5E0;
		font-size: 20px;
	}
	.header_logo{
		width: 30%;
		margin-left: -1px;
		margin-bottom: 1px;
	}

	#menuMovilButton{
		display: none;
	}
	.icon_caret{
		display: none;
	}
	.header_nav{
		display: block;
		background: none;
		position: absolute;
		top: .5%;
		right: 2%;	
	}

	.header_ul li{
		display: inline-block;
	}
	.header_ul .header_sub_ul{
		position: absolute;
		background: $gray_dark;
		padding-left: 0px;
		z-index: 20;
		height: 294px;
		margin-top: 21px;
	}
	.header_sub_ul li{
		display: block;
		padding-right: 15px;
	}
	.header_sub_ul li:hover{
		background: $orange;
	}
	.div_search{
		display: none;
	}
	li.li_separator{
		display: none;
	}
	li.li_search{
		margin-left: 0%;
		width: auto;
		padding-top:10px;
		padding-bottom: 10px;
	}
	li.li_search a{
		position: relative;
	    right: 0px;
	    margin-top: -0px;
	    font-size: 1em;
	}
	.header_logo {
		max-height: 80px;
	}
	.header_logo img{
		width: auto;
	}
	.submenu_img{
		position: absolute;
		height: 294px;
		left: -465px;
		background-color: white;
    	top: 0px;
	}
	.submenu_img  img{
		height: 100%;
	}
	

}

@media screen and (min-width: 1240px){
	
	

}



