/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2016, 16:53:28
    Author     : omarhernandez
*/

/* Doradito */
$color-precios: #d5a00f;
/* Doradito */
$color-titulo:  #d5a00f;
/* Gris generico */
$color-textos: #747474;
/* Blanco */
$bg-generico: #fff;
/* Fondo verde claro */
$bg-verde-claro: #00bcb6;

